/* #region - collection Styles */
#favCollection,
#collection{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    color: var(--white);
    justify-content: center;
    margin-bottom: 2rem;
    .collectionItem{
        width: 20rem;
        background-color: var(--grey4);
        border-radius: 0.5rem;
        border: 1px solid var(--grey-border);
        div.coverInfo{
            overflow: hidden;
            width: 100%;
            position: relative;
            border-radius: 0.5rem 0.5rem 0 0;
            aspect-ratio: 800 / 600;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                transition: transform 0.5s ease;
            }
            div.albumName,
            div.favorite{
                position: absolute;
                transition: all 0.3s ease;
                display: flex;
                z-index: 12;
                align-items: center;
            }
            div.albumName{
                bottom: 0;
                left: 0;
                opacity: 0;
                padding: 2rem 1rem 1rem 1rem;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.6) 40%, transparent 100%);    
                width: 100%;
            }
            div.favorite{
                top: 0;
                right: 0;
                background: var(--grey3);
                padding: 0.5rem 0.5rem 0.7rem;
                button{
                    cursor: pointer;
                    img.active{
                        display:none;
                    }
                    &.active{
                        img.active{
                            display:block;
                        }
                        img.inactive{
                            display:none;
                        }
                    }
                }
            }
        }
        div.itemInfo{
            padding: 1rem;
            div.priceLike{
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: var(--grey);
                div.likeArea{
                    button{
                        cursor: pointer;
                        img{
                            height: 16px;
                        }
                        &:hover{
                            img{
                                filter: brightness(0) invert(1);
                            }
                        }
                    }
                    &.liked{
                        button{
                            img{
                                filter: brightness(0) invert(1);
                            }
                        }
                        span{
                            color: var(--white);
                        }
                    }
                }
            }
            div.bandInfo{
                color: var(--grey);
                h2{
                    color: var(--white);
                }
                div.genre{
                    margin-top: 0.5rem;
                    width: 100%;
                    display: flex;
                    gap: 0.5rem;
                    flex-direction: row;
                    flex-wrap: wrap;
                    span{
                        font-size: 0.9rem;
                        background: var(--grey3);
                        padding: 0.25rem 0.7rem;
                        border-radius: var(--b_rad);
                    }
                    a{
                        color: var(--white);
                        background-color: var(--grey);
                        border-radius: 1rem;
                    }
                }
            }
            div.comments{
                border-top: 1px solid var(--grey3);
                padding-top: 0.7rem;
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                table.commentArea{
                    td.commentor{
                        color: var(--grey);
                    }
                    td.comment{
                        color: var(--white);
                    }
                    td.commentor,
                    td.comment{
                        vertical-align: top;
                        font-size: 0.9rem;
                        padding-bottom: 0.5rem;
                    }
                }

                div.commentInput {
                    margin-top: 0.5rem;
                    gap: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    input{
                        height: 2.5rem;
                        border-radius: 0.5rem;
                        padding: 0 1rem;
                        border: 1px solid var(--grey-border);
                        background-color: var(--grey);
                        color: var(--black);
                        width: 100%;
                        &::placeholder{
                            color: black;
                        }
                        &:focus{
                            background: var(--white);
                        }
                    }
                    button{
                        cursor: pointer;
                        img{
                            width: 1.5rem;
                            margin-top: 0.3rem;
                        }
                        &:focus,
                        &:hover{
                            img{
                                filter: brightness(0) invert(1);
                            }
                        }
                    }
                }
            }
        }
        &:hover{
            div.coverInfo{
                img{
                    transform: scale(1.05);
                }
                div.albumName{
                    opacity: 1;
                }
            }
        }
    }
}
/* #endregion */

/* #region - Media Queries */
/* calculated with em (base 16px) */

/* Large devices (tablets, 768px - 1280px) */
@media only screen and (min-width: 48.01em) and (max-width: 80em){
}

/* Medium devices (mobile, 768px and down) */
@media only screen and (max-width: 48rem) {
}

/* Small devices (mobile, 400px and down) */
@media only screen and (max-width: 25rem) {
    /* Gallery Style */
    h1{
        font-size: 3rem;
    }
    #collection{
        padding: 1rem;
        .collectionItem{
            width: 100%;
        }
    }
}
/* #endregion */
